## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
variable_entero=51
print(variable_entero)

51

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
constante=8.5
print(type(constante))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(variable_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre="Luis Aybar"

5. Crear una variable que contenga un número complejo

In [6]:
# Definir un número complejo
numero_complejo = 3 + 4j

# Imprimir el número complejo
print("Número complejo:", numero_complejo)

Número complejo: (3+4j)

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [7]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
constante_pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
valor_true='True'
valor_boolean_true=True
print("Es lo mismo?", valor_true==valor_boolean_true)

Es lo mismo? False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(valor_true))
print(type(valor_boolean_true))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
suma_resultado=51+43.5
print(suma_resultado)

94.5

11) Realizar una operación de suma de números complejos

In [18]:
numero_complejo1 = 3 + 4j
numero_complejo2 = 15 + 7j
suma_complejos=numero_complejo1 + numero_complejo2
print(suma_complejos)

(18+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
numero_real = -39
numero_complejo = 15 + 7j
suma= numero_real + numero_complejo
print(suma)

(-24+7j)

13) Realizar una operación de multiplicación

In [21]:
multiplicacion_resultado= 12*100
print(multiplicacion_resultado)

1200

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
division_resultado=27/4
print(division_resultado)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
parteentera_division_resultado=int(division_resultado)
print(parteentera_division_resultado)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
division_resultado=27%4
print(division_resultado)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [39]:
(4-1)*(parteentera_division_resultado+division_resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [42]:
variable_alfanumerica1 = 'Luis 51'
variable_alfanumerica2 = 'Andrea 14'
suma_alfa=variable_alfanumerica1 + variable_alfanumerica2
print(suma_alfa)

Luis 51Andrea 14

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [45]:
var_string= "2"
var_entero = 2
var_string == var_entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [48]:
var_entero2=int(var_string)
var_entero2 == var_entero

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [53]:
# a = float('3,8')
print("El error se produce por que no se puede convertir un String a Float")

El error se produce por que no se puede convertir un String a Float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [57]:
valor_actual=3
valor_actual-=1
print(valor_actual)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [59]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
# El error es por que los operando son de tipo distinto.

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')